* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	line-height: 1.45em;
	font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica", "Segoe UI", "Segoe", "Calibri", "Roboto", "Droid Sans", Arial, sans-serif;
	font-weight: 400;
	background-color: #3b4b54;
}

.bluemix-global-header {
	z-index: 99;
	background: #26343F;
	color: #FFF;
	padding: 0;
	height: 3.125em;
	line-height: 1.75em;
	width: 100%;
	box-shadow: 0 0 5pt 1pt rgba(0,0,0,.3);
	position: fixed;
	font-family: HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
}

.bluemix-masthead {
	display: flex;
	float: left;
	padding-top: 10px;
	padding-left: 50px;
}

.bluemix-branding {
	font-size: .875em;
	color: #FFF;
	padding-right: 30px;
}

.bluemix-branding a {
    text-decoration: None;
    color: #FFF;
}

.bluemix-product-title {
	margin: 0;
	font-weight: 700;
}

.bluemix-subfont {
	font-size: .88235em;
	color: #B3B3B3;
	font-weight: 300;
}

.bluemix-username {
    font-size: .88235em;
    color: #B3B3B3;
    font-weight: 300;
    float: right;
}

.bluemix-navlist-link {
	color: #B3B3B3;
	letter-spacing: .063em;
	text-transform: uppercase;
	font-size: .88235em;
	margin: 0;
	text-decoration: none;
	transition-property: color;
	transition-timing-function: ease-out;
	transition-duration: .2s;
	display: inline;
}

.action-bar {
	display: flex;
	top: 50px;
	z-index: 75;
	border-top: 1px solid rgba(122,137,145,.3);
	padding-top: 0;
	padding-left: 0;
	height: 50px;
	position: fixed;
	background-color: #1A242D;
	color: #1A242D;
	width: 100%;
	left: 0;
	box-shadow: 0 0 5pt 1pt rgba(0,0,0,.3);
}

.nav-bar {
	background: #26343F;
	width: 100%;
	background-color: #26343F;
	display: block;
	padding-top: 0px;
	//overflow-y: hidden;//auto;
	//overflow-x: visible; //hidden;
	font: inherit;
	font-size: 100%;
	line-height: 1.45em;
	font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica", "Segoe UI", "Segoe", "Calibri", "Roboto", "Droid Sans", Arial, sans-serif;
	font-weight: 400;
	height: calc(100vh - 3.125em);
}

.nav-contents {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    height: calc(100vh - 3.125em - 50px);
}

.nav-title {
	color: #fff;
	letter-spacing: normal;
	font-weight: 700;
	vertical-align: middle;
	line-height: 50px;
	width: calc(100% - 54px);
	border: 0;
	font-size: .875em;
	padding-left: 20px;
	display: inline-block;
	white-space: nowrap;
}

.action-title {
	float: left;
	color: #fff;
	letter-spacing: normal;
	font-weight: 700;
	vertical-align: middle;
	line-height: 50px;
	border: 0;
	font-size: .875em;
	padding-left: 20px;
	display: inline-block;
	white-space: nowrap;
}

.docked-nav-bar {
	border-right: 1px solid rgba(122,137,145,.3);
	float: left;
	background-color: #26343F;
	width: 230px;
	min-width: 230px;
	display: inline-block;
	height: 50px;
	position: relative;
}

.nav-expandable {
	margin-right: 20px;
	width: 100%;
	height: 50px;
	display: block;
	background-color: #1a242d;
}

.nav-item {
	padding-top: 10px;
	overflow: hidden;
	font-stretch: normal;
	font-weight: 300;
	line-height: 1.5em;
	display: block;
}

.nav-item-selected {
	padding: 5px 10px 6px;
	margin: 3px;
	color: #5aaafa;
	border-color: #5aaafa !important;
	background-color: rgba(90,170,250,0.1);
	display: inline-block;
	border: 1px solid transparent;
}

.nav-item-container {
	border-left: none;
	background: 0 0;
	padding: 0 30px;
	cursor: pointer;
	font-size: .875em;
	font-family: HelveticaNeueBold,HelveticaNeue-Bold,"Helvetica Neue Bold",HelveticaNeue,"Helvetica Neue",TeXGyreHerosBold,Helvetica,Tahoma,Geneva,Arial,sans-serif;
	line-height: 2.5em;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	font-stretch: normal;
}

.nav-item-label {
	color: #fff;
	text-overflow: inherit;
	overflow: inherit;
	width: calc(100% - 12px);
	max-width: calc(100% - 12px);
	white-space: nowrap;
	display: block;
}

.nav-subitem-container {
	padding-left: 30px;
	display: none;
}

.nav-subitem {
	padding-top: .666667em;
	cursor: pointer;
	padding-left: 10px;
	font-size: .75em;
	line-height: 2.334em;
	color: #94a3ab;
	overflow: hidden;
	font-stretch: normal;
	font-weight: 300;
	display: block;
	white-space: nowrap;
}

.container {
	background: #3B4B54;
	padding-left: 250px;
	margin: 0 32px;
	padding-top: 30px;
	max-width: 1280px;
	position: relative;
	top: 100px;
	bottom: 0;
	color: #EEE;
}

.output-container {
    margin: 0 32px;
    position: relative;
    padding-top: 30px;
    top: 30px;
    bottom: 0;
}

.category-pane {
	font-size: 100%;
	line-height: 1.45em;
	font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica", "Segoe UI", "Segoe", "Calibri", "Roboto", "Droid Sans", Arial, sans-serif;
	font-weight: 400;
}

.category-section {
	display: block;
	margin-bottom: 0;
	width: 100%;
}

.category-header {
	display: block;
	height: 30px;
	width: 100%;
	background-color: #4D6168;
	padding-left: 10px;
	color: #fff;
	font: inherit;
	font-size: 100%;
	line-height: 1.45em;
	font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica", "Segoe UI", "Segoe", "Calibri", "Roboto", "Droid Sans", Arial, sans-serif;
	font-weight: 400;
}

.category-name {
	margin-left: 20px;
	margin-right: 10px;
	letter-spacing: .1em;
	font-weight: 700;
	display: inline-block;
	font-size: 12px;
	font-style: italic;
	line-height: normal;
	margin: 7px 0 8px;
}

.category-new-header {
	display: block;
	height: 30px;
	width: 100%;
	color: white;
	border-bottom: 1px solid white;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

.category-new-name {
	margin-right: 10px;
	font-weight: 700;
	display: inline-block;
	font-size: 14px;
	line-height: normal;
	margin: 7px 0 8px;
	text-align: center;
	font-family: "IBM Helvetica","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

.category-box {
	padding: 20px 15px 16px;
	color: #dfe6eb;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.category-title {
	width: 155px;
	padding-top: .5em;
	float: left;
	font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	letter-spacing: .05em;
	font-size: 20px;
	line-height: 1.45em;
	font-weight: 400;
}

.category-contents {
	max-width: 1000px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: 170px;
	position: relative;
}

.content-wrapper {
	padding: 0;
	width: 48%;
	max-width: 48%;
	height: 100%;
	position: relative;
	background-color: transparent;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	border: 0;
	padding: 1.40625em 1.09375em;
	margin: 2.5px;
	vertical-align: baseline;
	cursor: pointer;
}

.content-wrapper:hover {
	background-color: rgba(90,170,250,0.1);
	border: 1px solid #5aaafa;
	margin: 1.5px;
}

.content-image {
	width: 50px;
	height: 50px;
	background-size: 30px 30px;
	background-color: #fff;
	border-radius: 50%;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin: 0;
	background-position: center center;
	background-repeat: no-repeat;
}

.content-text {
	width: calc(100% - 50px);
	color: #fff;
	min-width: initial;
	display: inline;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	margin: 0;
	margin-left: 1em;
	text-align: left;
	max-width: 20.3125em;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.content-title {
	line-height: 1.2857;
	margin-bottom: .7143em;
	font-size: 0.875rem;
	font-weight: 600;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

.content-descr {
	float: right;
	width: 100%;
	margin-left: -5px;
	margin-bottom: 0;
	font-size: 0.75rem;
	display: block;
	line-height: 1.5;
	letter-spacing: .5px;
	font-weight: 200;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

.create-box {
	width: 400px;
	margin: auto;
	padding: 20px;
	background: #eef;
	box-shadow: 0 0 5pt 1pt rgba(0,0,0,.3);
}

.create-box-title {
	text-align: center;
	font-size: 25px;
	margin-bottom: 30px;
    font-weight: normal;
    padding: 0 0 15px;
}

.inputlabel {
	font-size: 16px;
	line-height: 22px;
	display: block;
	margin: 30px 0 8px;
}

.inputfield {
	background-color: rgb(21, 41, 52);
	color: rgb(255, 255, 255);
	font-size: 1.2rem;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","HelvLightIBM",Arial,sans-serif;
	font-weight: 200;
	line-height: 16px;
	width: 100%;
	height: 50px;
	border: none;
	margin-bottom: 16px;
	text-indent: 16px;
	box-sizing: border-box;
	outline: none;
}

.bluebutton {
	padding: 5px 10px 6px;
	margin: 3px;
	color: #3888C8;
	background-color: rgba(90,170,250,0.5);
	display: inline-block;
	border: 1px solid #5aaafa;
	cursor: pointer;
	text-transform: uppercase;
}

#editor {
	width: 50%;
	min-height: 200px;
	height: 60vh;
	font: "Courier New", Monospace;
	float: left;
}
#mycanvas {
	float: right;
	//background-color: #eee;
	width: 50%;
	height: 80vh;
	overflow: scroll;
}
#mycanvas-gl-canvas {
	position: relative;
	left: 0px;
	top: 0px;
}
#canvas-container {
    min-height: 50vh;
}
#output {
	clear: both;
	background-color: black;
	color: #888;
	font: "Courier New", Monospace;
	min-height: 100px;
	max-height: 20vh;
	overflow: scroll;
}
#run_label {
	color: white;
	margin-left: 50px;
}
#error-tooltip {
	position: absolute;
	z-index: 100;
	background: #990000;
	border: 1px solid black;
	padding: 2px;
}
.btn {
	color: white;
	font-weight: bold;
	cursor: pointer;
	padding: 4px;
	margin: 4px;
	border: 1px solid white;
}
.btn:hover {
	color: #fda;
	background-color: black;
}

.error {
	position: absolute;
	z-index: 20;
	background: #771111;
}